header {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    height: 400px;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: #f5b000;
    background-image: url("https://www.transparenttextures.com/patterns/checkered-light-emboss.png");
    
  }

  .name {
    display: flex;
   color: white;
   font-style: normal;
  }