nav {
    display: flex;
    font-family: "Bungee", sans-serif;
    font-size: larger;
    height: 120px;
    width: 100%;
    background-color: #4056A1;
    color: #FFFFFF ;
    padding: 0 1.5em;
    position: fixed;
    justify-content: space-between;
    align-items: center;
    
  }
  .content {
display: flex;
font-family: sans-serif;
  }
.angles {
    display: flex;
    color: red;
    justify-content: center;

}

/* Mobile Styles */
@media only screen and (max-width: 1023px) {
  #responsive {
    display: flex;
    flex-direction: column;
    background-color: #f5b000;
    background-image: url("https://www.transparenttextures.com/patterns/checkered-light-emboss.png");
  }
  nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    left: 16px;
    background: none;
  }
}